body {
  background-color: #bebebe;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
.registratian {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

::placeholder{
  
  font-size: 1.5em;
}
/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 600px;
  border-radius: 30px;
  justify-content: end;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 25px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 35px 0;
  display: inline-block;
  border: none;
  border: 1px solid #000000;
  border-radius: 31px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
  background: #c4c4c4;
  border-radius: 55px;
}

.registerbtn:hover {
  opacity: 1;
}

button {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;

  color: #000000;
}

.btn__block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
