@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter";
}

[class*="__container"] {
  width: 90%;
  margin: 0 auto;
}

.header {
  background: #c9d1c8;
  padding: 5px 0;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header__container .header__navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.header .header__container .header__navbar ul li img {
  margin-left: 15px;
}

.header .header__container .header__navbar ul li a {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-decoration: none;
  color: black;
}

.header__logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

body {
  background-color: #394740;
}

h1 {
  display: flex;
  width: 90%;
  margin: 4% auto;
  color: white;
  font-weight: 600;
  font-size: 32px;
}
hr {
  border: 2px solid white;
}

main {
  width: 90%;
  margin: 0 auto;
}

.block__info {
  width: 290px;
  height: 342px;
  background-color: white;
  border-radius: 12px;
  padding-left: 15px;
  margin-right: -40PX;
}

.plus__cont {
  display: flex;
  align-items: center;
  gap: 15px;
  

  padding-top: 15px;
}

.plus__img {
  width: 60px;
  height: 60px;
}

h2 {
  color: #304040;
  font-weight: 700;
}

.block__info hr {
  width: 180px;
  border: 1px solid #304040;
  margin: 15px auto;
  margin-left: 3px;
}

h4 {
  margin-top: 30%;
  font-weight: 600;
  color: #304040;
}

.block__one {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.all__in__div {
  display: flex;
}
.image {
  height: 345px;
  width: 290px;
  border-radius: 15px;
}

footer {
  background-color: #c9d1c8;
  width: 100%;
  height: 229px;
  padding: 40px;

  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 5%;
}
.all__in__div{
  background-color: white;
}

.explore {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon__links {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: baseline;
}

.back__link {
  background-color: #304040;
  width: 40px;
  height: 40px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__links img {
  width: 25px;
  height: 25px;
}
